##
# JCH Optimize - Performs several front-end optimizations for fast downloads
#
# @package   jchoptimize/wordpress-platform
# @author    Samuel Marshall <samuel@jch-optimize.net>
# @copyright Copyright (c) 2020 Samuel Marshall / JCH Optimize
# @license   GNU/GPLv3, or later. See LICENSE file
#
# If LICENSE file missing, see <http://www.gnu.org/licenses/>.
##

<IfModule mod_rewrite.c>

Options +FollowSymLinks

RewriteEngine On

RewriteRule ^(.*?)(gz|nz)/([^/]+)\.(js|css)$  /$1jch-optimize/media/assets/jscss.php?f=$3&type=$4&gz=$2

</IfModule>
